<ion-header>
    <ion-navbar [color]="storageService.getAccesoResponse().tipo=='SUCURSAL'?'primary':'cafe-claro'">
        <ion-title>{{ 'Lista de Pagos' }}</ion-title>
        <ion-buttons end>
            <button ion-button outline 
                    (click)="onAlertProcesar()">
                <i class="pi pi-cog"></i>
                {{ procesos }}
            </button>
            <button ion-button outline
                    (click)="onReturnModal(null)">
                <i class="pi pi-arrow-left"></i> 
            </button>
            <button ion-button outline
                    (click)="onVerDiferencia()">
                <i class="pi pi-question-circle"></i> 
            </button>
            <button ion-button outline
                    (click)="onReturnModal(selected)" >
                <i class="pi pi-eye"></i> 
            </button>
            <button ion-button outline
                    (click)="onAlertAgrupar()">
                <i class="pi pi-cog"></i> 
                Agrupa
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
      
<ion-content>

<div class="content">
        <!-- Formulario de registro de pagos -->

        <!-- Lista de Pagos registrados-->
        <p-table  *ngIf="pagoResponse!=null" [value]="pagoResponse.list">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{ col.header }}
                    </th>
                    <th>
                        Accion
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ row[col.field] }}
                    </td>
                    <td>
                        boton {{ row.id }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
</div>

</ion-content>