detalle {

  table {
    border-collapse: collapse;
    width: 100%;
    margin-right:10px;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }

  tbody{
    //height: auto;
    min-height:130px;
    //display:block
  }
  
}
