entrada {
  /*.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    margin-left: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .label-md[stacked] {
    font-size: 1.1rem !important;
  }
  .item-input .label-md, {
    color: #3c3c3c;
    font-weight: normal;
  }
  .item-input {
    font-weight: normal;//bold; 
  }

  ion-label {
    padding: 0 !important;
    margin: 0px 0px 0px 0px !important;        
  }

  .input-wrapper {
    padding: 0px !important;
    margin: 0px !important;
  }
  .item-inner {
    min-height: 15px !important;
    height:28px !important;
  }
  .input {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px;
  }
  .item {
    min-height: 30px !important;
    height: 30px !important;
  }

  input:disabled {
    background-color: gainsboro;
  }*/
}
