<ion-header>
    <ion-navbar color="cafe-claro">
        <ion-title>{{ dtoDetalle.titulo }}</ion-title>
        <ion-buttons end>
            <button ion-button outline 
                    *ngIf="dtoDetalle.nProcesar!=null"
                    [disabled]="selected==null"
                    (click)="onAlertProcesar()">
                <i *ngIf="selected==null" class="pi pi-cog"></i>
                {{ selected==null?'': dtoDetalle.nProcesar + ': ' + selected.nroMovimiento }}
            </button>
            <button ion-button outline
                    (click)="onReturnModal(null)">
                <i class="pi pi-arrow-left"></i> 
            </button>
            <button ion-button outline
                    *ngIf="dtoDetalle.ver"
                    (click)="onReturnModal(selected)" 
                    [disabled]="selected==null">
                <i class="pi pi-eye"></i> 
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
      
<ion-content>
<div class="content">
    <p-table #dt1 [columns]="cols" [value]="transaccionResponseList.list"
                 [scrollable]="true" scrollHeight="105px" 
                 [resizableColumns]="true"
                 selectionMode="single" [(selection)]="selected" dataKey="nroMovimiento">
                 <ng-template pTemplate="caption">
                        <div class="captionGlobal">        
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="20" 
                                   placeholder="Busqueda Global"
                                   (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                                   class="questGlobal">
                        </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pResizableColumn>
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" (click)="onSubTotal()">
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td>Cantidad</td>
                        <td>{{ tcan }}</td>
                        <td>Precio</td>
                        <td>{{ tprec | number:'1.2-2' }}</td>
                    </tr>
                </ng-template>
    </p-table>    
</div>
<div class="content" *ngIf="selected!=null">
    <p-table #dt [columns]="colsD" [value]="selected.lista" 
                 [scrollable]="true" scrollHeight="140px">
                 <ng-template pTemplate="caption">
                    <div class="captionGlobal">        
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="20" 
                               placeholder="Busqueda Global"
                               (input)="dt.filterGlobal($event.target.value, 'contains')" 
                               class="questGlobal">
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                        <th>
                            Sub Total
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData['codigoArticulo']}}
                        </td>
                        <td style="text-align: center;">
                            {{rowData['cantidad']}}
                        </td>
                        <td style="text-align: right">
                            {{rowData['precio'] | number:'1.2-2' }}
                        </td>
                        <td style="text-align: right">
                            {{ (rowData['cantidad'] * rowData['precio']) | number:'1.2-2' }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                        <tr>
                            <td>Totales</td>
                            <td style="text-align: center">{{ tsubcant }}</td>
                            <td style="text-align: right">{{ tsubprec | number:'1.2-2' }}</td>
                            <td style="text-align: right">{{ tsubtotl | number:'1.2-2' }}</td>
                        </tr>
                </ng-template>
    </p-table>    
</div>
</ion-content>