<ion-header>
        <ion-navbar color="cafe-claro">
            <ion-title>{{ dtoTransaccion.titulo }}</ion-title>
            <ion-buttons end>
                <button ion-button outline
                        title="Guardar"
                        (click)="onAlertGuardar(entrada.codigoNext)"
                        [disabled]="transaccionRequest.transaccionObjeto.nroMovimiento==undefined || transaccionRequest.transaccionObjeto.nroMovimiento == null || transaccionRequest.transaccionObjeto.nroMovimiento == 0">
                    <i class="pi pi-save"></i>
                </button>
                <button ion-button outline
                        title="Limpiar"
                        (click)="onAlertLimpiar()">
                    <i class="pi pi-file"></i>
                </button>

                <button *ngIf="dtoTransaccion.B.list != null"
                        ion-button outline
                        title="Lista"
                        (click)="onModalList('B')">
                    <i class="pi pi-list"></i>
                </button>
                <button *ngIf="dtoTransaccion.C.list != null"
                        ion-button outline 
                        title="Lista"
                        (click)="onModalList('C')">
                    <i class="pi pi-list"></i>
                </button>
                <button *ngIf="dtoTransaccion.D.list != null"
                        ion-button outline
                        title="Lista"
                        (click)="onModalList('D')">
                    <i class="pi pi-list"></i>
                </button>
                
                <button ion-button outline
                        title="Eliminar Transaccion"
                        (click)="onAlertEliminar()"
                        [disabled]="transaccionRequest.transaccionObjeto.id==null">
                    <i class="pi pi-trash"></i> 
                </button>
                <button ion-button outline
                        title="" 
                        (click)="getPrint()"
                        [disabled]="transaccionRequest.transaccionObjeto.id==null">
                    <i class="pi pi-print"></i>
                </button>
            </ion-buttons>
        </ion-navbar>
</ion-header>
<ion-content>
            
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked>{{ 'Numero de Movimiento' }}</ion-label>
                    <ion-input #movimiento type="number" 
                               [disabled]="!dtoTransaccion.enabled" 
                               [(ngModel)]="transaccionRequest.transaccionObjeto.nroMovimiento" 
                               [class.inputExistente]="transaccionRequest.transaccionObjeto.id != null"
                               (keyup.enter)="onQuest(movimiento)"></ion-input>
                </ion-item>
                <ion-item>
                        <ion-label stacked>{{ 'Fecha de Movimiento' }}</ion-label>
                        <ion-input type="text" 
                                   [disabled]="!dtoTransaccion.enabled"
                                   [(ngModel)]="transaccionRequest.transaccionObjeto.fechaMovimiento"></ion-input>
                </ion-item>
                
                <entrada #entrada 
                         [disabled]="!dtoTransaccion.enabled"
                         [tipo]="dtoTransaccion.tipoE"
                         (enter)="onEnterEntrada( $event, producto.codigoNext )"></entrada>
            </ion-col>
            <ion-col class="colTextArea">
                    <ion-item>
                        <ion-label stacked>{{ 'Observacion' }}</ion-label>
                        <ion-textarea #observacion
                                      [(ngModel)]="transaccionRequest.transaccionObjeto.observacion"></ion-textarea>
                    </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                    <ion-item>
                            <ion-label stacked>{{ 'Nombre ' }} {{ tipo | titlecase }}</ion-label>
                            <ion-input type="text"
                                       [(ngModel)]="transaccionRequest.transaccionObjeto.nombreUsuario" 
                                       disabled="true"></ion-input>
                    </ion-item>
            </ion-col>
        </ion-row>

        <quest #producto 
               [cantidadExistente]="cantidadExistente"
               (enterInventario)="onEnterInventario( $event, producto )"
               (enterGuardar)="onEnterInventarioGuardar( $event )"></quest>

        <ion-row>
            <ng-container *ngIf="codigo!=null">
                <inventario  [codigo]="codigo" (noEvent)="onNoEventInventario( $event )" ></inventario>
            </ng-container>
            <ng-container *ngIf="codigo==null">
               <detalle [lista]="this.transaccionRequest.transaccionObjeto.lista.reverse()"
                        [tsubtotl]="transaccionRequest.transaccionObjeto.precio"
                        [tsubcant]="transaccionRequest.transaccionObjeto.cantidad"
                        style="width: 100%;padding-left: 10px;padding-right: 10px"
                        (enter)="onEnterDetalle( $event, producto.codigoNext )" ></detalle>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>