.label-md[stacked]{
    font-size: 1.23rem !important;//todo: tamanio de fuente
  }
  .item-md{
    font-size: 1.23rem !important;//todo: tamanio de fuente
  }
  .grid .item-md{
    font-size: 1.23rem !important;//todo: tamanio de fuente
  }
  .md{
    font-size: 1.23rem !important;
  }

    // PARA TABLAS PRIMENG 
    .ui-table { 
      font-size: 12px !important;
      color: black;
      font-family: "Roboto", "Helvetica Neue", sans-serif
    }
  
    .ui-table .ui-table-tbody > tr {
      background: #fffedf;
    }
  
    .captionGlobal {
      text-align: right;
      margin: 0px;
    }
    .questGlobal {
      width:auto;
      height:20px;
      padding:5px 1px 1px 5px;
    }
  