<ion-header>
    <ion-navbar>
        <ion-title>{{ 'usuario' }}</ion-title>
        <ion-buttons end>
            <button ion-button outline
                    (click)="onReturnModal(null)">
                <i class="pi pi-arrow-left"></i> 
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>

    <ion-grid>
        <ion-grid>
                <ion-row>
                <ion-item>
                    <ion-label stacked>{{ 'Codigo ' }}</ion-label>
                    <ion-input #codigo type="text"
                                [(ngModel)]="usuarioRequest.codigo"
                                tabindex="1"></ion-input>
                </ion-item>
                
                <ion-item>
                    <ion-label stacked>{{ 'Nombre: ' }}</ion-label>
                    <ion-input #nombre type="text" 
                                [(ngModel)]="usuarioRequest.nombre"
                                tabindex="1"></ion-input>
                </ion-item>
                
                <ion-item>
                    <ion-label stacked>{{ 'Telefono ' }}</ion-label>
                    <ion-input #telefono type="text" 
                                [(ngModel)]="usuarioRequest.telefono"
                                tabindex="1"></ion-input>
                </ion-item>
                
                <ion-item>
                    <ion-label stacked>{{ 'Direccion ' }}</ion-label>
                    <ion-input #direccion type="text" 
                                [(ngModel)]="usuarioRequest.direccion"
                                tabindex="1"></ion-input>
                </ion-item>
                </ion-row>
        </ion-grid>
        <button ion-button (click)="onGuardar(null)">
                <ion-icon name="user"></ion-icon>
                Guardar
            </button>
    </ion-grid>
</ion-grid>

</ion-content>